{% extends "layout_fluid.html" %}

{% block title %}Appraisal Tab{% endblock %}
{% block h1 %}Ingest{% endblock %}

{% block js %}
<base href='{{ STATIC_URL }}appraisal/'>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}vendor/underscore.js"></script>
  <script src="{{ STATIC_URL }}vendor/backbone.js"></script>
  <script src="{{ STATIC_URL }}js/advanced-search-query-creator.js"></script>
  <script src="{{ STATIC_URL }}js/ingest/backlog.js"></script>
  <script src="{{ STATIC_URL }}appraisal/appraisal_tab.js"></script>
{% endblock extra_js %}

{% block content %}
{% include "index.html" %}
{% endblock %}
